:root {
    --main-color: #FFFFF1;
    --secondary-color: #243763;
    --accent-color: #FF6E31;

}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--main-color);
}

#header {
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--main-color);
}